body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('toDoListPh.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.calendar-container {
    text-align: center;
    margin-bottom: 20px;
}

#current-date {
    font-size: 29px;
    color: #e75757;
}

.todo-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}

h1 {
    text-align: center;
    color: #333;
}

.todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-btn {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task-btn:hover {
    background: #218838;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 10px;
}

.filter-buttons button {
    padding: 10px;
    margin: 5px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background: #0056b3;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.task-item.completed span {
    text-decoration: line-through;
    color: #6c757d;
}

.task-item span {
    flex: 1;
    cursor: pointer;
}

button.complete-btn {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
}

button.complete-btn:hover {
    background: #0056b3;
}

button.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

button.delete-btn:hover {
    background: #c82333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.toast {
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.9;
    font-size: 14px;
    margin: 5px;
    animation: fadeIn 0.5s, fadeOut 2s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0;
    }
}